.burnify text {
    fill: #aaa;
    font: 10px sans-serif;
}

.burnify .y.axis line {
    stroke-width: 1px;
}

.burnify .y.axisLeft line {
    stroke: green;
}

.burnify .y.axisRight line {
    stroke: steelblue;
}

.burnify .axis path {
    stroke-width: 2px;
}

.burnify .axisLeft path {
    stroke: #1d7fb3;
}

.burnify .axisRight path {
    stroke: #1db34f;
}

.burnify .bar {
    fill: #1db34f;
}

.burnify .bar:hover {
    fill: #3cc76a;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    stroke: green;
    cursor: pointer;
}

.burnify .line {
    stroke: #1d7fb3;
    stroke-width: 2px;
    stroke-linecap: "butt";
}

.burnify .line.projection {
    stroke: gray;
    stroke-opacity: 0.5;
}

.burnify line.limit {
    stroke: red;
    stroke-opacity: 0.4;
    stroke-width: 2px;
    stroke-dasharray: 4, 4;
}

.burnify text.limit {
    text-anchor: middle;
}

.burnify line.mvp {
    stroke: green;
    stroke-opacity: 0.4;
    stroke-width: 2px;
    stroke-dasharray: 4, 4;
}

.burnify text.mvp {
    text-anchor: middle;
}

.burnify .circle {
    fill: #1d7fb3;
    stroke: white;
    stroke-opacity: 0;
    stroke-width: 0px;
}

.burnify .circle.projection {
    fill: gray;
    opacity: 0.5;
}

.burnify .scopePoints {
    fill: steelblue;
    fill-opacity: 0.2;
}

.burnify .scopePoints:hover {
    stroke: steelblue;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.burnify .scopeDone {
    fill-opacity: 0.2;
    fill: green;
}

.burnify .scopeDone:hover {
    stroke: green;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.burnify .scopeOut {
    fill: red;
    fill-opacity: 0.2;
}

.burnify .scopeOut:hover {
    stroke: red;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;
    cursor: pointer;
}

.burnify .x.axis path {
    display: none;
    stroke: steelblue;
}

.burnify g.x.axis {
    fill: white;
}

.burnify .x.axis line {
    /*    stroke: #ddd;*/
}

.burnify .x.axis text {
    fill: #aaa;
}
